:host {
  display: block;

  .figma-projects {
    display: grid;
    gap: 1rem;
  }

  .figma-project {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3, p { margin: 0; }
    h3 { color: var(--bui-color-text-accent); }
    p, .portfolio-message { color: var(--bui-color-text-accent); }

    &__embed {
      width: 100%;
      min-height: 28rem;
      border: 0;
      border-radius: .5rem;
    }
  }
}
