:host {
  display: inline-flex;

  .dark-mode {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border: 0;
    background: transparent;
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    border-radius: 99rem;
    border: 1px solid var(--bui-color-text);
  }

  .icon {
    font-size: 0.875rem;
    color: var(--bui-color-text-accent);
  }
}
