@use 'index' as bui;

:host {
  display: inline-block;
  width: 100dvw !important;
  background-color: var(--bui-color-container);

  section {
    @include bui.container();
  }

  .abbout-me {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    grid-template-areas: 'Avatar Bio';

    .bui-avatar {
      grid-area: Avatar;
    }

    .bio {
      display: flex;
      flex-direction: column;
      text-align: justify;
      gap: 2rem;
      color: var(--bui-color-text);
    }

    .contact {
      grid-area: Bio;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;

      strong {
        color: var(--bui-color-text-accent);
        &::after {
          content: ': ';
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .abbout-me {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
      gap: 1.5rem;
      grid-template-areas:
        'Avatar'
        'Bio';
    }
  }
}
