:host {
  width: calc(100dvw - 3rem);
  height: calc(100dvh - 3rem);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  .display {
    font-size: 4.5rem;
    line-height: 6.125rem;
    font-weight: 700;
    text-align: center;
  }
}

